nav a {
  display: inline-flex;
  border-radius: 10px;

  text-decoration: none;
}

nav button {
  background-color: rgb(119, 0, 0);
  color: black;
  border-radius: 10px;
  font-family: "Anta";
  font-size: 1.5em;
  margin: 5px;
}

.downloadCV a {
  text-decoration: none;
}
.downloadCV button {
  font-family: "Anta";
  font-size: 1em;

  background-color: rgb(119, 0, 0);
  color: black;

  border-radius: 10px;
  display: flex;
  clear: both;
}

#submitButton {
  font-family: "Comic Relief";
  font-size: 25px;
  font-weight: bold;
  background-color: aliceblue;
  color: black;
  height: 2em;
}
