nav a {
  display: inline-flex;
  border-radius: 10px;

  text-decoration: none;
}

nav button {
  background-color: rgb(40, 34, 34);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-family: "Anta";
  font-size: 1.5em;
  margin: 5px;
}

.downloadCV a {
  text-decoration: none;
}
.downloadCV button {
  font-family: "Anta";
  font-size: 1.5em;

  background-color: rgb(15, 14, 14);
  color: aliceblue;

  border-radius: 10px;
  display: flex;
  clear: both;
}

#submitButton {
  font-family: "Anta";
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(15, 14, 14);
  color: aliceblue;
  border-radius: 10px;
  border-color: aliceblue;
  border-width: 50px;
}