* {
  box-sizing: border-box;
}

header {
  background-color: rgb(15, 14, 14);
  
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

nav {
  clear: both;
}

.headerText {
  color: aliceblue;
  font-family: "Anta";
  font-size: 3em;
  display: inline-flex;
  margin-left: 10px;
  text-wrap: wrap;
}

#headerLetter {

  background-color: rgb(73, 3, 3);
  color: aliceblue;
  text-shadow: 2px 2px rgb(0, 0, 0);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#europasslogo {
  height: 10em;
}

#a-fralogo{
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  text-decoration: none;
  justify-self: left;
}

#img-fralogo{
  height: 6em;
}

#park{
  height: 20em;
  margin: 10px;
  display:flex;
  justify-self: left;
  
}

#run{
  height: 15em;
  margin: 10px;
  display: flex;
  justify-self: left;
}

header{
  max-width: 100%;
}

body {
  background-color: rgb(73, 3, 3);
}

aside {
  width: 20%;
  float: left;
  margin-bottom: 10px;
}

section {
  width: 80%;
  float: left;
  margin-bottom: 10px;
}
footer {
  clear: both;
  font-family: "Comic Relief";
  font-size: 1em;
  font-weight: normal;
}

pre {
  font-family: "Comic Relief";
  font-size: 1em;
  text-wrap-mode: wrap;
  color: aliceblue;
}

label {
  color: aliceblue;
  font-family: "Comic Relief";
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
}

input {
  display: inline-flex;
  font-family: "Comic Relief";
  font-size: 1.5em;
  font-weight: normal;
  border-radius: 10px;
  border: transparent;
}

textarea {
  font-family: "Comic Relief";
  font-size: 1.5em;
  font-weight: normal;
  align-items: center;
  border-radius: 10px;

  overflow: auto;
}

p {

  font-family: "Comic Relief";
  font-size: 1em;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

#contactForm {
  padding: 10px;
  border-radius: 10px;
}

.formElem {
  margin-bottom: 20px;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

#mailSubject {
  width: 40%;
}
#mailBody {
  width: 50%;
}

.headerItem {
  color: aliceblue;
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-family: "Comic Relief";
  font-size: 1.5em;
  font-weight: bold;
}

.item {
  color: rgb(79, 155, 255);
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-family: "Comic Relief";
  font-weight: bold;
}

.small {
  color: rgb(249, 246, 246);
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-family: "Comic Relief";
  font-weight: normal;
}
#footerText{
  color: aliceblue;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.cv{
  width: 50%;     
  margin-left: 0;
  margin-right: auto;
}

ul{
  font-family: "Comic Relief";
  font-size: 1em;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  #contactForm #mailBody {
    width: 100%;
  }

  #run{
    /* max-width: fit-content;
    max-height: fit-content; */
  }

  #park{

  }
}