* {
  box-sizing: border-box;
}

header {
  background-color: rgb(119, 0, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.headerText {
  font-family: "Anta";
  font-size: 2em;
  display: inline-flex;
}

#headerLetter {
  background-color: black;
  color: rgb(119, 0, 0);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#europasslogo {
  height: 250px;
  float: right;
  padding: 10px;
}

aside {
  width: 20%;
  float: left;
  margin-bottom: 10px;
}

section {
  width: 80%;
  float: left;
  margin-bottom: 10px;
}
footer {
  clear: both;
  font-family: "Comic Relief";
  font-size: 1em;
  font-weight: normal;
}

form {
  background-color: salmon;
}

label {
  font-family: "Comic Relief";
  font-size: 2em;
  font-weight: bold;
}

input {
  font-family: "Comic Relief";
  font-size: 2em;
  font-weight: normal;
}

textarea {
  font-family: "Comic Relief";
  font-size: 2em;
  font-weight: normal;
  align-items: center;
}

p {
  font-family: "Comic Relief";
  font-size: 1.5em;
  font-weight: bold;
}

.formElem {
  margin-top: 10px;
  margin-bottom: 10px;
}
